.topNav{
    position:relative;
    background: #401010;
    /* overflow: hidden; */
    height:50px;
}
.topNav a{
    float: center;
    position:relative;
    margin:50px 0 0 15%;
    top:0;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
    align-items: left;
    text-align: center;
}
a{
    cursor:pointer;
    text-decoration: none;
    all:unset;
}
.pageJumper{
    position:absolute;
    top:30%;
    border:1px solid #000000;
    text-align: left;
    color:#000000;
    height:30%;
}
.pageJumper ul li{
    padding:25% 0 25% 0;
    list-style: none;
    background: #aaaaff;
    margin:10% 0 10% 0;
    cursor:pointer;
    color:inherit;
    display:flex;
}
body{
    height:100%;
}